/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    text-align: center;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


}


header .page-header  {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 200px;
}

header img {

    max-width: 100%;
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-40%);
}

.overlay img {
    max-width: 75%;
    margin: auto;
}

.underlay {
    position: relative;
    z-index: -10;
    display: block;
    width: 100%;
}

.underlay img {
    max-width: 100%;
}
.main-nav {
    text-align: left;
    z-index: 100;
    
}

.main-nav ul {
    background-color: #222222;
    color: #fff;
    height: 53px;
    z-index: 100;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 0.625em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
    
}

.btn {
    background-color: #eb4d5c; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.btn a {
    color: white;
}

.btn a:hover {
    color: #fff;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    padding-left: 0.625em;
    
}
.main-nav img {
   width: 40px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5em;
    z-index: 10;
}
a {
    text-decoration: none;
    color: #656565;
}

a:hover {
    cursor: pointer;
    color: #fff;
}



.main-content {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #e9e9e9;
    position: relative;
    overflow: hidden;
}

.main-content-overlay {
   
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   width: 50%;
   transform: translate(50%, 10%);
   font-size: 1.2em;
}



.main-content-underlay {
    z-index: -10;
    transform: translateY(10%);
}


}

.main-content h2 {
    font-size: 1.7em;
}

.main-content p {
    font-size: 1.1em;
    line-height: 2;
}

.main-text {
    width: 60%;
    margin: auto;
}

.main-content img {
    width: 100%;
}

.portraits {
    position: relative;
    margin: 0;
}

.portraits-overlay {
   text-align: left;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 5;
   width: 50%;
   transform: translate(5%, -30%);
   

}

.portraits-overlay h2 {
   width: 60%;
   font-family: "Georgia", serif;
   font-style: italic;
   font-weight: normal;
   font-size: 1.2em;

}
.portraits-underlay {
    z-index: -10;
    position: relative;

}
.portraits-underlay img {
    margin-top: 12em;
    z-index: -10;
    position: relative;
    width: 100%;
}

.protects {
    width: 100%;
    object-fit: fill;
   
}

.left-column {
    background-color: #85a952;
    width: 37.5%;
    float: left;
    min-height: 360px;
    text-align: left;
    padding-left: 2.875em;

}

.left-column h2 {
    font-size: 2em;
    font-weight: bold;
    color: #c2d4a8;
}

.left-column h3 {
    font-size: 1.5em;
    color: white;
}

.left-column p {
    font-family: "Georgia", serif;
    font-style: italic;
    color: white;
}

.middle-column img {
    max-width: 27%;
    float: left;
    object-fit: contain;
}

.right-column img {
    max-width: 35.5%;
    float: left;
    object-fit: fill;
}



.latest-prints {
   clear: both;
   background-color: #e9e9e9;
   padding-bottom: 2em;
   
}

.latest-prints h2 {
    padding: 0;
    font-size: 3em;
    }

.latest-prints h3 {
    clear: both;
    font-style: italic;
    font-family: serif;
    padding-top: 1em;
    font-size: 2em;
    color: #888;

    }


.latest-prints img {
    border: 3px solid white;
    margin: auto;
    width: 100%;
    
    

}

.print {
    background-color: #e9e9e9;
    margin: auto;
    width: 33%;
    float: left;
    padding: 10px;
}

.print h3 {

}
.charities {
    clear: both;


}

.charities h2 {
    font-size: 2.812em;
}

.charities h3 {
    font-family: serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: normal;
    color: #aaa;
}

.charities p {
    margin: auto;
    width: 40%;
    line-height: 1.5;
    padding: 1em;
}

.charity-icons {
    padding-top: 20px;
}

.icon-box {
    border: 1px solid black;
    width: 14.28%;
    float: left;
    height: 12.31em;
    margin: auto;
    padding-top: 30px;
}

.icon-box img {
    width: 75%;
    object-fit: cover;
    
}



.our-mission {
    clear: both;
    background-color: #e9e9e9;
    padding-bottom: 45px;
    font-size: 1em;
    line-height: 1.5;
    
}

.our-mission h2 {
    font-size: 2em;
}



.our-mission-right {
    width: 50%;
    float: left;
    padding: 12em;
    }
.our-mission img {
    float: left;
    width: 50%;
}
.our-mission-btn {
    padding-bottom: 20px;
}




.social {
    background-color: #222222;
    color: white;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    
}

.social img {
    width: 10%;
    float: right;
    padding-right: 20px;
}




.social i {
    color: white;
    font-size: 2em;
}

.social ul{
    list-style: none;
    text-align: left;
    margin: auto;
    padding-top: 20px;
    float: left;

}

.social li {
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    

}

.social a:hover {
    color: white;
}

.logo img {
   position: absolute;
   bottom: 50;
   left: 50;
   width: 100px;
   transform: translate(-150%,-25%);
   z-index: 10;
   padding: 20px;



}

.page-footer {
  
    background-color: #000;
    color: white;
    margin: auto;
    width: 100%;
    
}

.page-footer ul {
  margin: auto;
  clear: both;
  padding: 1em;
  list-style: none;

  }
.page-footer li {
    padding: 1em;
    text-decoration: none;
    display: inline;
}

.page-footer i {
    color: white;
    font-size: 0.5em;
}

.pullquote img {
    width: 10%;
    line-height: 0;


}

.menu-bottom {
    text-align: center;
    padding-top: 50px;
    width: 40%;
    margin: auto;
    color: #666;

}

.menu-bottom ul {
    text-align: center;
}
.pullquote  {
    margin: 0;
    clear: both;
    line-height: 0;
    background-color: #bca566;
    padding: 20px;
    color: white;

}

.pulltext {
    width: 50%;
    font-size: 2em;
    margin: auto;
    line-height: 1;
    font-weight: bold;
}

.source {
    font-family: serif;
    font-style: italic;
    font-size: 1.5em
    
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
